{% load static %}

<!DOCTYPE html>
<html lang = "en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}"> -->
	<title>Polling</title>
</head>
<body>
	<nav class="pink" role="navigation">
	    <div class="nav-wrapper container">
	        <a id="logo-container" href="#" class="brand-logo pink-text text-lighten-5">Logo</a>
	        <ul class="right hide-on-med-and-down pink-text text-lighten-5">
	            <li><a href="#">Navbar Link</a></li>
	        </ul>
	        <ul id="nav-mobile" class="sidenav pink-text text-lighten-5">
	            <li><a href="#">Navbar Link</a></li>
	        </ul>
	        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	    </div>
	</nav>

	<div class="section blue" id="index-banner">
        <h1 class="header center blue-text text-lighten-4">Poll Questions</h1>
        <div class="row">
            <div class="col s8 offset-s2 blue-text text-lighten-4">
            {% block content %}
			{% endblock %}
			</div>
        </div>
       <!--  <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div> -->
	</div>

	<div class="section orange">
		<div class="row center">
			<div class="col s12"><br>
				<a href="/admin" style="color: #ffd180;">Admin Login</a>
			</div>
		</div>
	</div>

	<div class="footer-copyright teal">
		<div class="container">
			<div class="section center">
				Made by <a class="brown-text text-lighten-3" href="http://github.com/karthic25/">Karthic</a>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'polls/js/mandatory_question.js' %}"></script>
</body>
</html>